<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoomgomedia.app"
    >


    <!-- 访问网络状态权限组 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 读写SD卡权限组 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />

    <!-- 其他 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.DEVICE_STORAGE_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="adnroid.permission.ACCESS_CHECKIN_PROPERTTES"/>
    <uses-permission android:name="adnroid.permission.WRITE_SETTINGS"/>

    <application
        android:name="com.dmsys.airdiskpro.BrothersApplication"
        android:allowBackup="false"
        android:largeHeap="true"
        android:label="@string/DM_APP_Name"
        android:icon="@drawable/ic_launcher"
      >
        <activity
            android:name="com.dmsys.airdiskpro.ui.WelcomeActivity"
            android:label="@string/DM_APP_Name"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.dmsys.airdiskpro.ui.MainActivity"
            android:label="@string/DM_APP_Name"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/StyledIndicators"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.VaultAllFileActivity"
            android:label="@string/DM_APP_Name"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.MyDownloadActivity"
            android:label="@string/DM_APP_Name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.setting.PasswordModifyActivity"
            android:label="@string/DM_APP_Name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.setting.VaultSettingActivity"
            android:label="@string/DM_APP_Name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />
        <activity
            android:name="com.dmsys.airdiskpro.setting.DeviceVaultActivity"
            android:label="@string/DM_APP_Name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.MountPcActivity"
            android:label="@string/DM_APP_Name"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.FileSearchActivity"
            android:label="@string/DM_APP_Name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.setting.MoreSettingsActivity"
            android:label="@string/DM_APP_Name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.dm.xunlei.udisk.wificonnect.WiFiConnectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name="com.dmsys.airdiskpro.ui.imagereader.ImagePagerActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.dmsys.txtviewer.ReadActivity"
            android:exported="false"
            android:label="@string/DM_APP_Name"
            android:process=":txtviewer"
            android:theme="@style/Theme.TxtViewer">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dm.xunlei.udisk.wificonnect.UDiskWiFiInternetSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.PictureFolderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.PictrueDateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.UploadFileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.UploadDirActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.PathSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.dropbox.activity.MyDropBoxPathSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.ManualBackupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.AlbumBackupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.ContactsBackupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.ContactsHistoryRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.AutoBackupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.setting.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.setting.FeedBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.setting.ZoomGoFeedBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dm.xunlei.udisk.wificonnect.UDiskWiFiSSIDSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.ui.FolderImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.setting.DeviceInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dmsys.airdiskpro.setting.HelpCenterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service android:name="com.dmairdisk.aodplayer.MusicService" />
        <service android:name="com.dmsys.airdiskpro.filemanager.FileOperationService" />
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"></service>
        <service android:name="com.dmsys.airdiskpro.service.BackupService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.dmsys.dropbox.activity.MyDropBoxActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.dmsys.airdiskpro.view.VaultPasswordDialog"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Password_Dialog" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-easkalluuwilx42" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 阿里反馈 -->
        <activity
            android:name="com.alibaba.sdk.android.feedback.windvane.CustomHybirdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ali_feedback_contentoverlay"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.alibaba.sdk.android.feedback.impl.ErrorPageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ali_feedback_contentoverlay" />

        <receiver
            android:name="com.alibaba.sdk.android.feedback.impl.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service android:name="com.dmsys.vlcplayer.PlaybackService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <activity
            android:name="com.dmsys.vlcplayer.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.VLC.Player" />

        <service android:name="com.alibaba.mtl.appmonitor.AppMonitorService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="564bf14667e58eb78800001f"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="GooglePlay" />
    </application>

</manifest>